{% for category in timber_categories %}
	{% set countAnchor = loop.index %}	


	

		<section class="home-layout__cat-block clearfix">

			<div class="home-layout__cat-side-bar {% if loop.index0 is odd %}small-order-1 medium-order-2{% endif %}" data-sticky-container>

				<div class="black-block black-block--home" data-sticky data-top-anchor="anchor{{countAnchor}}:top" data-btm-anchor="anchor{{countAnchor}}:bottom" data-margin-top="1">
					<h2 class="black-block__title">
						<a href="{% autoescape %}/category/{% endautoescape %}{{category.slug|e('esc_html')}}">
							{{category.name}}
						</a>
					</h2>
					<a class="black-block__button" href="{% autoescape %}/category/{% endautoescape %}{{category.slug|e('esc_html')}}">
						{% autoescape %}View {% endautoescape %}{{category.name}}
					</a>
				</div>

			</div>

			<div id="anchor{{countAnchor}}" class="home-layout__cat-content {% if loop.index0 is odd %}small-order-2 medium-order-1{% endif %}" data-equalizer data-equalize-by-row="true" data-equalize-on-stack="true">

				
                {% for post in category.get_posts(4) %}
        			
        			{% set postCount = loop.index %}	
            			
					            			
					{% if postCount == 1 %}
						{% set postImage = TimberImage(post.get_field('preview_image_post'))|resize('full') %}
					{% elseif postCount == 2 %}
						{% set postImage = TimberImage(post.get_field('preview_image_post'))|resize('cat-med') %}
					{% else %}
						{% set postImage = TimberImage(post.get_field('preview_image_post'))|resize('cat-thumb') %}
					{% endif %}

					{% include "blocks/content.twig" with {post: post}  %}

				{% endfor %}


			</div>


		</section>


	

{% endfor %}
