<section class="home-layout__carousel">

	<h2 class="home-layout__carousel-title">
		{{ post.title_carousel|e('esc_html') }}
	</h2>

	<div class="home-layout__carousel-width">
		
		<div id="shop-with-me" class="owl-carousel owl-theme owl-carousel--latest-posts" data-js="home-carousel" data-equalizer data-equalize-on-stack="true">
	
			{% for post in postsCarousel %}
				{# $size = 'cat-mini';  #}
				{% set carouselImage = TimberImage(post.get_field('preview_image_post')) %}
				{% set imageSize = 'cat-mini' %}

					{# {{post|print_r}} #}

					
				<div class="item" style="width:340px;">
					
					<div class="post-preview post-preview--{{ imageSize }}">
						<a class="post-preview__link-img" href="{{ post.link }}">
							{# {{post.get_field('preview_image_post')|print_r}} #}
							<img src="{{ carouselImage|resize('cat-mini') }}" alt="{{ post.title }}" />
						</a>
						<a class="post-preview__link-content" href="{{ post.link }}">
							<span class="post-preview__overlay text-center">
							
								<span class="post-preview__date-wrapper">
									<span class="post-preview__date">
										
										{{post.date('F j, Y')}}
									</span>
								</span>

								<span class="post-preview__title" data-equalizer-watch>
									{{ post.title }}
								</span>
								<span class="post-preview__more">Read More</span>
							</span>
						</a>
					</div>

				</div>

			{% endfor %}


		</div>
	</div>

	<div id="customNavHome" class="owl-nav"></div>
</section>