<section class="instagram-block">

	<h2>
		<span>
		
			{% autoescape %}
				INSTAGRAM
			{% endautoescape %}
		</span>
		<a href="{% autoescape %}https://www.instagram.com/pilaralexandria/{% endautoescape %}">
			
			{% autoescape %}
				follow @pilaralexandria
			{% endautoescape %}
		</a>
	</h2>

		<ul class="instagram-list">
		
		{% for insta in fancySquaresInstagram %}

			<li class="instagram-list__item">
		   		<a href="{{insta['url']}}" class="instagram-list__likes" target="_blank">
		   			<span class="wrap">
						<i class="fa fa-heart" aria-hidden="true"></i>
						<span class="count">
							{{insta['likes']}}
							
						</span>
					</span>
		   		</a>
		   		<img src="{{insta['image']}}">
		   	</li>

		{% endfor %} 

	</ul>

</section>