{% set older_post = function('get_previous_post') %}
{% set newer_post = function('get_next_post') %}
{# 
{{newer_post|print_r}}
{% if newer_posts is empty%}asdf{% endif %}
 #}
{# previous #}
 <div class="single-layout__pagination {% if newer_post %}align-justify{% else %}align-right{% endif %}">
    {% if newer_post  %}
       

        {% set newerPostImage = function('get_the_post_thumbnail_url', newer_post, 'cat-med') %}
        {% set newerTitle = function('get_the_title', newer_post) %}

        <a href="{{function('get_permalink', newer_post)}}" style="background-image:url({{ newerPostImage }})">
          
        	<i class="fa fa-long-arrow-left" aria-hidden="true"></i>

        	<span>
        		{% autoescape %}
        			Previous
        		{% endautoescape %}
        	</span>

        </a>


    {% endif %}


    {# next #}
    {% set older_post = function('get_previous_post') %}

    {% if older_post  %}
        
            {% set olderPostImage = function('get_the_post_thumbnail_url', older_post, 'cat-med') %}
            {% set olderTitle = function('get_the_title', older_post) %}

            <a href="{{function('get_permalink', older_post)}}" class="self-align-right" style="background-image:url({{olderPostImage}});">
               
    			<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
               	
               	<span>
    	    		{% autoescape %}
    	    			Next
    	    		{% endautoescape %}
    	    	</span>

            </a>


    {% endif %}

 </div>