{% extends "templates/base.twig" %}

{% block content %}
	<main class="about-layout main-padding-top">
	    {% for post in posts %}

	        {# {{ post.content }} #}
	     
	        {% set topImage = TimberImage(post.get_field('top_image')) %}
	        	{% set middleImage = TimberImage(post.get_field('middle_image')) %}
	        		{% set bottomImage = TimberImage(post.get_field('bottom_image')) %}
	    	<section class="image">
	        	<img src="{{topImage}}" alt="Top Image">
	        </section>

	        {# about #}
	        <sectin class="content align-center">
	        	<div class="column small-12 medium-10 large-8">
		        	<h1>
		        		{% autoescape %}
		        			About Pilar
		        		{% endautoescape %}
		        	</h1>
		        	<p>
		        		{{post.description|e('esc_html')}}
		        	</p>
		        </div>
	        </sectin>

	        {# middle image #}
	        <section class="image">
	        	<img src="{{middleImage}}" alt="middle Image">
	        </section>

	        {# contact #}
	        <sectin id="contact" class="content align-center">
	        	<div class="column small-12 medium-10 large-8">
		        	<h2>
		        		{% autoescape %}
		        			Have a Question?
		        		{% endautoescape %}
		        	</h2>
		        	{% filter shortcodes %}
					    [gravityform id="1" title="false" description="false" ajax="true"]
					{% endfilter %}
		        </div>
	        </sectin>

	        {# bottom image #}
	        <section class="image image--bottom">
	        	<img src="{{bottomImage}}" alt="bottom Image">
	        </section>

	    {% endfor %}
	</main>
{% endblock %}


