{% extends "templates/base.twig" %}

{% block content %}

	<main class="home-layout clearfix main-padding-top">

	    {% for post in posts %}

	        	{# hero #}
		        {% include 'partials/hero-header.twig' %}

		        {# carousel #}
		        {% include 'partials/home-carousel.twig' %}

		        {# category pattern #}
		        {% include 'views/category-pattern.twig' %}


	    {% endfor %}

	</main>

{% endblock %}