{% extends "base.twig" %}

{% block content %}

	<main class="archive-layout" data-js="blog">

	    {# hero #}
        {% include 'partials/hero-header.twig' %}

		<div class="archive-layout__page-header">
			<h1>
				<span>
					
						{% if fn('is_category') %}
								{{function('get_cat_name', cat_id)}}
							{% else %}
						 			{% autoescape %}Archive{% endautoescape %}
						 		{% endif %}
				</span>

			</h1>
			{# <ul class="align-center">
				{{function('wp_list_categories','title_li=')}}
			</ul> #}
		</div>

			{# {{term_page}}{{ category_specific.slug }} #}

		<div class="archive-layout__row" data-js="append-content" data-equalizer data-equalize-by-row="true" data-equalize-on-stack="true">

		    {% for post in posts %}
		    	{% set postCount = loop.index %}	
	            			
	            			
				{# {% set postImage = TimberImage(post.get_field('preview_image_post'))|resize('medium_large') %} #}

		        {% include "blocks/content.twig" with {post: post}  %}  

		    {% endfor %}

		 
		</div>

		{#START Pagnination#}
	{# {{ function('the_posts_navigation') }}
	{% if pagination %}
		<ul class="pagination">
			{% if pagination.prev %}
				<li>
					<a href="{{pagination.prevlink}}" class="arrow prev {{pagination.prev.link|length ? '' : 'invisible'}}">&laquo;</a>
				</li>
			{% endif %}
			{% for page in pagination.pages %}
				{% if page.link %}
					<li>
						<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
					</li>
				{% else %}
					<li class="{{page.class}}">
						<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
					</li>
				{% endif %}
			{% endfor %}
			{% if pagination.next %}
				<li>
					<a href="{{pagination.next.link}}" class="arrow next {{pagination.next.link|length ? '' : 'invisible'}}">&raquo;</a>
				</li>
			{% endif %}
		</ul>
	{% endif %} #}
	{#END Pagnination#}

		<div class="archive-layout__more">
			<button id="data-parameters" data-action="more_all_posts" data-posts_per_page="9" data-pageCount="2" {# data-per_page="9" #} {% if fn('is_category') %}data-cat="{{cat_id}}"{% endif %}>
				{% autoescape %}
					Load More 
				{% endautoescape %}
			</button>
			<div id="loader" class="loader">Loading...</div>
		</div>
	</main>


	{# script #}
	<script type="text/javascript">

	    // <div class="shop-layout__item-dimension shop-layout__item-dimension--hide <%= itemClass %>"> 
	   
	    // 	<a href="<%= itemLink %>" target="_blank">
	    // 		<span class="name">
	    // 			<%= itemName %>
	    // 		</span>

	    // 		<span class="price">
	    // 			<%= itemPrice %>
	    // 		</span>
	    // 		<img src="<%= itemImg %>" alt="<%= itemName %>"/>

	    // 	</a>

	    // </div>



	</script>

{% endblock %}

{# {% block sidebar %}

    {% include "blocks/sidebar.twig" %}

{% endblock %} #}