{% extends "templates/base.twig" %}

{% block content %}
	<main class="page-layout" data-js="blog">
	    {% for post in posts %}

	        <section class="featured-image">
	        	<img src="{{ post.thumbnail.src }}" alt="{{ post.title|e('esc_html') }}">
	        </section>

	        <section class="content">
		        <h1>
		        	{{ post.title|e('esc_html') }}
		        </h1>

		        {{ post.content }}
		    </section>

	    {% endfor %}
	</main>

{% endblock %}