{% extends "base.twig" %}

{% block content %}

    {% include 'blocks/page-header.twig' %}

    {% if posts.post_count == 0 %}
        {{ __('Sorry, no results were found.', 'sage') }}
        {{ function('get_search_form') }}
    {% endif %}

    {% for post in posts %}
        {% include "blocks/content.twig" with {post: post}  %}
    {% endfor %}

    {{ function('the_posts_navigation') }}

{% endblock %}