{% extends "base.twig" %}

{% block content %}

    <main class="single-layout clearfix">

        {% for post in posts %}
            <article {{ function('post_class') }}>
                <header>
                    <div class="info">
                        <h1 class="entry-title">{{ post.title }}</h1>
                        {% include "blocks/entry-meta.twig" %}
                    </div>
                </header>
                <div class="entry-content">
                    <div class="content">
                        {{ post.content }}
                    </div>
                </div>


                    {# pagination #}
                    {% include "partials/previous-next.twig" %}                   
                


                <footer id="comment-footer">

                    <div class="misc">
                        {{ function('comment_form') }}
                        
                        {% include "blocks/comment.twig" %}
                    </div>

                </footer>
            </article>
        {% endfor %}

    </main>

{% endblock %}