{% set postImage = TimberImage(post.get_field('preview_image_post'))|resize('medium_large') %}
<div class="post-preview">
	<a class="post-preview__link-img" href="{{post.link}}">

		<img src="{{ postImage }}" alt="{{ post.title }}" />
	</a>
	<a class="post-preview__link-content" href="{{post.link}}">
		<span class="post-preview__overlay text-center">
		
			<span class="post-preview__date-wrapper">
				<span class="post-preview__date">
					{{post.date('F j, Y')}}
				</span>
			</span>

			<span class="post-preview__title" data-equalizer-watch>
				{{post.title}}
			</span>
			<span class="post-preview__more">
				{% autoescape %}Read More{% endautoescape %}
			</span>
		</span>
	</a>
</div>