{% include 'partials/instagram.twig' %}

<footer class="footer-section">

	<div class="footer-section__row">
		
		<div class="footer-section__block">
			<span>
				&copy; {{ now|date('Y') }} by {{ bloginfo('name') }}
			</span>
		</div>

		<div class="footer-section__block">
			<a href="{% autoescape %}https://fancysquares.blog/{% endautoescape %}" target="_blank">
				{% autoescape %}Developed By Fancy Squares{% endautoescape %}
			</a>
		</div>

	</div>

</footer>