<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ function('wp_head') }}

    <script type="text/javascript">
		var ajaxurl = '{{function('admin_url','admin-ajax.php')}}';
	</script>
</head>
