<header class="header header--main" data-js="header-main">

    <div class="header__row">

    	<div class="header__title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
            <a class="shrink" href="{{ site.url }}">
                {{ site.name }}
            </a>
            <button class="menu-icon" type="button" data-toggle></button>
            {# <div class="header__title-bar-title">Menu</div> #}
        </div>

        <div class="header__top-bar align-justify" id="top-menu">
            {% block header %}

            	{% include 'blocks/header-title.twig' %}

                <div class="header__top-bar-right" data-js="nav-items">
                 
                        {% include 'blocks/nav-primary.twig' with {menu: menu.get_items} %}
                   
                </div>

            {% endblock %}
        </div>

    </div>

</header>