
{% if menu %}

		<ul class="header__dropdown-menu" data-dropdown-menu>
	        {% for item in menu %}
	            <li class="{{ item.classes | join(' ') }}">
	                <a href="{{ item.get_link }}">
	                	<span>
	                		{{ item.title }}
	                	</span>
	                </a>
	                {% include "blocks/sub-nav.twig" with {'menu': item.get_children} %}
	            </li>
	        {% endfor %}
	   </ul>

{% endif %}

