<ul class="menu">
    {% for item in menu %}
        <li class="{{ item.classes | join(' ') }}">
            <a href="{{ item.get_link }}">
            	<span>
            		{{ item.title }}
            	</span>
            </a>
        </li>
    {% endfor %}
</ul>