@include b(black-block){
	background: $black;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 30px;
	@include breakpoint(medium){
		padding-top: 235px;
		padding-bottom: 0;
		height: 320px;
	}
	@include breakpoint(small only){
		position: relative !important;
		top: 0 !important;
	}
	text-align: center;
	h2 {
		@extend %font-header-one-neutral;
	}
	a {
		color: $white;
	}

	@include e(button){
		@extend %font-preview-more-neutral;
		&:after {
			content:'>>';
		}
	}
}