.comment-list {
  list-style: none;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  // @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  // @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .button;
  // @extend .btn-primary;
}


#comment-footer {
	/*background: $brand-soft-pink;*/
	padding: 35px 0;
	margin-bottom: 50px;
	@include breakpoint(medium){
		padding: 35px 0;
		margin-bottom: 100px;
	}
	.comment-reply-title {
		/*@extend %font-entry-meta;*/
	}
	.comments__row {
		@include flex-grid-row();
		max-width: 870px;
	}

	.comment-respond {
		@extend .clearfix;
		padding-bottom: 50px;
		@include flex-grid-column(12);
		h3 {
			@extend %font-header-one;
			margin-bottom: 15px;
		}
	}

	.comments-empty {
		/*@extend %font-header-one;*/
		text-align: center;
	}

	.logged-in-as {
		a {
			color: $black;
			transition: color .35s ease-out;
			&:hover {
				/*color: $brand-red;*/
			}
		}
	}
}


.comment-list {
	margin: 0;
	clear: both;
	@include flex-grid-column(12);
	> li {
		margin-top: 75px;
		&:first-child {
			margin-top:0;
		}
	}
	li {
		list-style: none;
		.children {
			margin: 75px 0 0;
			> li {
				margin-top: 75px;
				&:first-child {
					margin-top:0;
				}
				* {
					/*color: $brand-red !important;*/
				}
			}
			li {
				padding-left: 50px;
				background-image: url(../images/reply-up-arrow.png);
				background-repeat: no-repeat;
				background-size: 17px;
			}
		}
	}

	.comment-content {
		p {
			/*@extend %font-comment-text;*/
		}
	}
	.name {
		@extend %font-header-one;
		text-transform: none;
	}
	.comment-meta {
		@extend .clearfix;
		h2 {
			/*@extend %font-header-two-number;*/
			color: $black;
			display: inline-block;
			vertical-align: bottom;
			line-height: 1;
		}
		.reply {
			display: inline-block;
			vertical-align: bottom;
			margin-bottom: 1px;
			* {
				/*@extend %font-entry-meta;*/
			}
		}
	}
	article {
		padding: 0 !important;
	}
}

.comment-form {
	.comment-notes {
		display: none;
	}
	p {
		label {
			display: none;
		}
		input,
		textarea,
		button {
	/*		@extend %font-entry-meta;
			background: $brand-soft-pink;*/
			color: $black;
			border: 1px solid $black;
			box-shadow: none;
			@include placeholder(){
				color: $black;
			}
		}
		button {
			display: block;
			width: 100%;
			line-height: 37px;
		}
		textarea {
			min-height: 225px;
		}
	}

	.comment-form-author,
	.comment-form-email {
		float: left;
		width: 40%;
		margin-right: 1.5%;
		@include breakpoint(small only){
			margin-right: 0;
			width: 100%;
			float: none;
			margin-bottom: 15px;
		}
		input {
			margin-bottom: 0;
		}	
	}
	.form-submit {
		float: left;
		width: 17%;
		@include breakpoint(small only){
			width: 100%;
			float: none;
		}
		input {
			margin-bottom: 0;
			width: 100%;
			padding: 0.5rem;
			background-color: transparent;
			border-color: $black;
			color: $black;
			line-height: 21px;
			&:hover {
				background-color: transparent;
				color: $black;
			}
		}
	}

	.reset {
		clear:both;
	}
}