@include b(hero-header){

	@include m(bg){
		
		display: block;
		width: 100%;
		background-size: cover;
		background-repeat: none;
		/*background-position: center;*/
		@include breakpoint(small){
			height: 300px;
		}
		@include breakpoint(medium){
			height: 450px;
		}
		@include breakpoint(large){
			background-attachment: fixed;
			height: 600px;
		}
	}

}