@include b(instagram-list){
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
	text-align: center;
	h2 {
		padding-bottom: rem-calc(50);
		@include breakpoint(small only) {
			background-position: center 45px;
        }
		a {
			/*@extend .font-styles__nav-bar;*/
			color: $black !important;
			transition: color .45s ease-out;
		}
	}
	@include e(item){
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin-left: rem-calc(-6);
		&:first-child {
			margin-left:0;
		}
		img {
			max-height: 250px;
			position: relative;
			z-index: 0;
			@media screen and #{breakpoint(small only)} and #{breakpoint(portrait)} {
				max-height: 140px;
			}
			@media screen and #{breakpoint(small only)} and #{breakpoint(landscape)} {
				max-height: 245px;
			}
		}
	}

	@include e(likes){
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: block;
		z-index: 1;
		&:hover {
			&:after {
				opacity: .75;
			}
			.wrap {
				opacity: 1;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			background: $white;
			display: block;
			opacity: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 0;
			transition: opacity .45s ease-out;
		}
		.wrap {
			position: relative;
			z-index: 9;
			vertical-align: middle;
			opacity: 0;
			transition: opacity .45s ease-out;
		}
		.fa,span {
			display: inline-block;
			vertical-align: top;
		}
		.fa {
			color: $black;
			font-size: 25px;
			padding-top: 4px;
		}
		.count {
			/*@extend .font-styles__number-of-likes;*/
			display: block;
			/*color: #6D6F71;*/
			color: $black;
			font-size: 25px;
			line-height: 1;
			margin-top: 10px;
		}
	}
	
}

.instagram-block {
	background: $brand-gray;
	padding-top: 50px;
	h2 {
		margin-bottom: 50px;
		text-align: center;
		line-height: 1;
		span {
			@extend %font-header-one;
			display: block;
			margin-bottom: 15px;
		}
		a {
			@extend %font-nav-bar;
			color: $black;
			display: block;
		}
	}
}