@include b(post-preview){

	@include e(link-img){
		display: block;
		position: relative;
		z-index: 0;
		@include breakpoint(small only){
			text-align: center;
		}
	}

	@include e(link-content){
		background: $white;
		border: 1px solid $black;
		display: block;
		padding: 40px 15px 15px;
		text-align: center;
		position: relative;
		z-index: 1;
	}

	/*data*/
	@include e(date-wrapper){
		position: absolute;
		top: -10px;
		text-align: center;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 9;
	}
	@include e(date){
		@extend %font-preview-date;
		background: $black;
		padding: 0 15px;
		display: inline-block;
	}

	/*title*/
	@include e(title){
		@extend %font-header-one;
		display: block;
		margin-bottom: 5px;
	}

	@include e(more){
		@extend %font-preview-more;
	}

	@include e(size-space){
	    width: 15px;
	}

}