@include b(post-gallery){
	@include flex-grid-row();
	clear:both;
	margin-left: -10px;
	margin-right: -10px;
	@include breakpoint(medium){
		margin-left: -15px;
		margin-right: -15px;
	}

	/*fifty*/
	@include m(normal){
		@include e(bg){
			@include aspect-ratio(2,2);
			display: block;
			cursor: pointer;
			opacity: 1;
			transition: opacity .35s ease-out;
			background-size: cover;
			background-position: center;
			&:hover {
				opacity: .75;
			}
		}
		@include e(block){
			@include flex-grid-column(6);
			margin-bottom: 15px;
			@include breakpoint(medium){
				@include flex-grid-column(4);
				margin-bottom: 30px;
			}
		}
	}

	/*fifty*/
	@include m(fifty-fifty){
		@include e(bg){
			@include aspect-ratio(2,2);
			display: block;
			cursor: pointer;
			opacity: 1;
			transition: opacity .35s ease-out;
			background-size: cover;
			background-position: center;
			&:hover {
				opacity: .75;
			}
		}
		@include e(block){
			@include flex-grid-column(6);
			margin-bottom: 15px;
			@include breakpoint(medium){
				margin-bottom: 30px;
			}
		}
	}

	/*masonry*/
	@include m(masonry){
		padding: 15px 0 30px;
		@include e(bg){
			@include aspect-ratio(2,2);
			display: block;
			cursor: pointer;
			opacity: 1;
			transition: opacity .35s ease-out;
			background-size: cover;
			background-position: center;
			&:hover {
				opacity: .75;
			}
		}

		@include e(block){
			margin-bottom: 15px;
			@include breakpoint(medium){
				margin-bottom: 30px;
			}	

			&--special {
				@include flex-grid-column(6);
				@include breakpoint(medium){
					@include flex-grid-column(5);
				}
				.post-gallery__block {
					width: 100%;
					padding: 0;
				}
				.post-gallery__bg {
					@include aspect-ratio(4,4);

				}
			}
			&--4 {
				margin-bottom: 0;
			}
			&--2 {
				@include flex-grid-column(6);
				@include breakpoint(medium){
					@include flex-grid-column(7);
				}
				> div {
					@include aspect-ratio(4,5.5);
					height: 100%;
				}
			}
			&--1 {
				@include flex-grid-column(6);
				@include breakpoint(medium){
					@include flex-grid-column(7);
				}
				> div {
					@include aspect-ratio(2,2);
					@include breakpoint(medium){
						height: 350px;
					}
				}
			}
			&--0 {
				@include flex-grid-column(6);
				@include breakpoint(medium){
					@include flex-grid-column(5);
				}
				> div {
					@include breakpoint(medium){
						height: 350px;
					}
				}
			}

		}
	}

	&__block {
		@include flex-grid-column();
	}

	&__bg {

	}	
}