/*media examples*/
.element {
    // Only affects medium screens and larger
    @include breakpoint(medium) {
        // All CSS in here goes inside the media query
    }
}

.element {
    // Only affects medium screens and smaller
    @include breakpoint(medium down) { }
    // Only affects medium screens, not small or large
    @include breakpoint(medium only) { }
}

.element {
    // Converted to 20em
    @include breakpoint(320px) { }
    // Unitless values are assumed to be pixels
    @include breakpoint(320) { }
    // Converted to 40em
    @include breakpoint(40rem) { }
}

.element {
    @include breakpoint(landscape) {
        // CSS for landscape-oriented devices only
    }
    @include breakpoint(retina) {
        // CSS for high-resolution displays only
    }
}


@media only screen and (min-width: 1350px) {}
@media only screen and (max-width: 1350px) {}
@media only screen and (min-width: 1350px) and (max-width: 1350px) {}


.content{
   
}
body {
    * {
        outline: none;
    }
}

main {
    &.main-padding-top {
        padding-top: 52px;
        @include breakpoint(medium){
            padding-top: 70px;
        }
    }
}
.loader,
.loader:before,
.loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  margin: 0 auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: absolute;
    right: 0;
    left: 0;
    display: none;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}