//fonts go here
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Spectral:300,300i,400,400i,700,700i');
/*
	lato
	300 - light
	400 - reg
	700 - bold
*/

%font-nav-bar {
	color: $black;
	font-size: rem-calc(11);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .15rem;
	text-transform: uppercase;
}
%font-sub-nav {
	color: $black;
	font-size: rem-calc(9);
	font-style: normal;
	font-weight: 400;
	font-style: italic;
	font-family: 'Spectral', serif;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
%font-preview-date {
	color: $white;
	font-size: rem-calc(9);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: .15rem;
}
%font-preview-more {
	color: $black;
	font-size: rem-calc(14);
	font-style: normal;
	font-weight: 400;
	font-style: italic;
	font-family: 'Spectral', serif;
	text-transform: uppercase;
	letter-spacing: .03rem;
}
%font-preview-more-neutral {
	color: $black;
	font-size: rem-calc(14);
	font-style: normal;
	font-weight: 400;
	font-family: 'Spectral', serif;
	text-transform: uppercase;
	letter-spacing: .03rem;
}

%font-header-one {
	color: $black;
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-style: italic;
	text-transform: uppercase;
    letter-spacing: .04rem;
    max-width: 100%;
    margin: 0 auto;
    font-size: rem-calc(22);
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
}

%font-h1-big {
	color: $black;
	font-size: rem-calc(50);
    font-weight: 300;
	font-style: italic;
	font-family: 'Spectral', serif;
	text-transform: uppercase;
	letter-spacing: .1rem;
	line-height: 1;
	@include breakpoint(medium){
		font-size: rem-calc(70);
	}
}

%font-header-one-neutral {
	color: $black;
	font-family: 'Spectral', serif;
	font-weight: 400;
	text-transform: uppercase;
    letter-spacing: .04rem;
    max-width: 100%;
    margin: 0 auto;
    font-size: rem-calc(25);
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
}

%font-body-copy {
	color: $black;
	font-size: rem-calc(15);
	font-style: normal;
	font-weight: 400;
	font-family: 'Spectral', serif;
	letter-spacing: .04rem;
}

body {
	@extend %font-body-copy;
	p {
		@extend %font-body-copy;
	}
}