@include b(about-layout){
	
	text-align: center;
	
	.image {
		/*margin-bottom: 75px;*/
		&--bottom {
			margin-bottom: 0;
		}
	}

	.content {
		@include flex-grid-row();
		text-align: center;
		padding-top: 75px;
		margin-bottom: 90px;
		h1,
		h2 {
			@extend %font-h1-big;
			text-align: center;
			margin-bottom: 30px;
		}


	}
}