@include b(archive-layout){

	@include e(row){
		@include flex-grid-row();
		max-width: 960px;
		margin-bottom: 75px;
		> div {
			margin-bottom: 30px;
			@include flex-grid-column(12);
			@include breakpoint(medium){
				@include flex-grid-column(4);
			}
		}
		/*.post-preview--full {
			@include grid-column(8);
			
		}
		.post-preview--cat-mini {
			@include grid-column(4);
			width: 30%;
			
		}*/
	}

	@include e(page-header){
		text-align: center;
		padding-top: 50px;
		h1 {
			@extend %font-header-one;
			margin-bottom: 50px;
			span {
				display: inline-block;
				padding: 0 25px 10px;
				border-bottom: 1px solid $black;
			}
		}
		ul {
			@include flex-grid-row();
			margin-bottom: 30px;
			li {
				@include flex-grid-column(3);
				list-style: none;
				text-align: center;
			}
			a {
				color: $black;
			}
		}
	}

	@include e(more){
		@include flex-grid-row();
		margin-bottom: 150px;
		text-align: center;
		position: relative;
		button {
			@extend %font-header-one;
			cursor: pointer;
			opacity: 1;
			transition: opacity .35s ease-out;
			&:hover {
				opacity: .7;
			}
		}
	}

}