@include b(footer-section){
	background: $black;
	padding: 30px 0;

	span,a {
		@extend %font-nav-bar;
		color: $brand-off-black;
	}

	@include e(row){
		@include flex-grid-row();
	}


	@include e(block){
		@include flex-grid-column(6);	
		display: inline-block;
		vertical-align: middle;
		width: 33%;
		text-align: center;
		img {
			width: 100%;
			max-width: 200px;
		}
	}
}