.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}



@include b(header){

    @include e(row){
        @include flex-grid-row();
    }

    @include m(main){
        background: $brand-gray;
        padding: 10px 0;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        z-index: 99;

        @include e(title-bar){
            @extend .title-bar;
            color: $black;
            background:none;

            @include breakpoint(small only){
                width: 100%;
            }

            .menu-icon {
                @include breakpoint(small only){
                    @include flex-grid-column();
                    max-width: 25px;
                }

                &:after {
                    background: $black;
                    box-shadow: 0 7px 0 $black, 0 14px 0 $black;
                }
            }

            a {
                @include flex-grid-column();
                @extend %font-nav-bar;
            }
        }

        @include e(title-bar-title){
            @extend .title-bar-title;
        }

        @include e(top-bar){
            @extend .top-bar;
            width: 100%;
            background: none;
            @include breakpoint(small only){
                padding-left:0;
                padding-right: 0;
            }
            ul {
                background: none;
            }
        }

        @include e(top-bar-left){
            @extend .top-bar-left;
        }

        @include e(top-bar-right){
            @extend .top-bar-right;
        }

        @include e(menu){
            a {
                @extend %font-nav-bar;
                font-weight: 700;
                font-size: rem-calc(15);
            }
        }

        @include e(dropdown-menu){
            @extend .menu;
            @extend .dropdown;
            >li {
                display: inline-block;
                padding: 0 15px;
                @include breakpoint(large){
                    padding: 0 30px;    
                }
                @include breakpoint(small only){
                    display: block;
                    width: 100%;
                    padding: 0;
                }
                > a {
                    @extend %font-nav-bar;
                    padding: 0.7rem 1rem !important;
                    &:after {
                        display:none !important;
                    }
                }
            }
            .submenu {
                border:none;
                left: 30px !important;
                @include breakpoint(small only){
                    position: relative;
                    top:0;
                    left: 20px !important;
                }
                a {
                    @extend %font-sub-nav;
                }
                li {
                    @include breakpoint(small only){
                        display: block;
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }

        @include e(logo){
            width: 100%;
            max-width: 236px;
        }
    }

}