.demo-column {
  height: 1000px;
  background-color: #1779ba;
}
@include b(home-layout){

	/*carousel*/
	@include e(carousel){
		background: $brand-gray;
		overflow: hidden;
		position: relative;
		padding: 75px 0;
		margin-bottom: 75px;
	}
	@include e(carousel-width){
		width: 4180px;
	}
	@include e(carousel-title){
		@extend %font-header-one;
		text-align: center;
		margin-bottom: 75px;
	}

	/*cat blocks*/
	@include e(cat-block){
		@include flex-grid-row();
		max-width: 955px;
		margin-bottom: 75px;
	}
	@include e(cat-side-bar){
		@include flex-grid-column(12);
		@include breakpoint(medium){
			@include flex-grid-column(4);
		}
		@include breakpoint(small only){
			margin-bottom: 30;
			height: auto !important;
		}
		@include m(right){
			&.is_stuck {
				
			}
		}
	}
	@include e(cat-content){
		@extend .clearfix;
		position: relative;
		z-index: 0;
		@include breakpoint(medium){
			@include flex-grid-column(8);
		}
		@include breakpoint(small only){
			@include flex-grid-row();
		}
		> div {
			margin-bottom: 30px;
			&:nth-child(1),
			&:nth-child(2) {
				@include breakpoint(small only){
					@include flex-grid-column(12);
				}
			}
			&:nth-child(3),
			&:nth-child(4) {
				@include flex-grid-column(6);
				margin-bottom: 0;
			}
			&:nth-child(3) {
				@include breakpoint(medium){
					padding-left: 0;
					float: left;
				}
			}
			&:nth-child(4) {
				@include breakpoint(medium){
					padding-right: 0;
					float: left;
				}
			}
		}
	}

}