@include b(page-layout){

	@include flex-grid-row();
	padding: 150px 0 100px;

	> section {
		@include flex-grid-column(12);
	}

	.featured-image {
		padding-bottom: 50px;
	}
	h1 {
		@extend %font-h1-big;
		margin-bottom: 15px;
	}

}