@include b(single-layout){
	
	
	padding-top: 150px;

	header {
		@include flex-grid-row();
		margin-bottom: 30px;
		max-width: 960px;
		h1 {
			@extend %font-header-one;
			margin-bottom: 10px;
		}
		.updated,
		p,a {
			@extend %font-nav-bar;
		}
		.info {
			@include flex-grid-column();
		}
	}

	article {
		
	}

	.entry-content {
		@include flex-grid-row();
		max-width: 960px;
		margin-bottom: 75px;
		.content {
			@include flex-grid-column();
		}
	}
	footer {
		margin-bottom: 100px;
		.misc {
			@include flex-grid-row();
			max-width: 960px;
		}
	}


	@include e(pagination) {
		@include flex-grid-row();
		max-width: 100%;
		margin-bottom: 75px;
		a {
			@include flex-grid-column(6);
			@include aspect-ratio(1,1);
			max-width: 150px;
			position: relative;
			background-size: cover;
			background-position: center;
			opacity: 1;
			transition: opacity .35s ease-out;
			&:hover {
				opacity: .7;
			}
			@include breakpoint(medium){
				max-width: 225px;
			}
			@include breakpoint(large){
				max-width: 300px;
			}

			&:first-child {
				.fa {
					right: -45px;
				}
			}
			&:last-child {
				.fa {
					left: -45px;
				}
			}
		}

		.fa {
			color: $black;
			position: absolute;
			top:0;
			bottom:0;
			margin:auto;
			font-size: 25px;
		    line-height: 1;
		    height: 27px;
		    display: none;
		    @include breakpoint(medium){
		    	display: block;
		    }
		}

		span {
			color: $black;
			text-transform: uppercase;
			position: absolute;
			width: 100%;
			left:0;
			right:0;
			bottom: -30px;
			text-align: center;
		}
	}

}