<!doctype html>

<html {{ function('language_attributes') }}>

    {% include 'blocks/head.twig' %}

    <body {{ function('body_class') }} data-rest="{{function('get_rest_url')}}">

        {% include 'blocks/header.twig' %}

        {% block content %}{% endblock %}

        {% block footer %}
            
            {% include 'blocks/footer.twig' %}
            {{ function('wp_footer') }}
            
        {% endblock %}

    </body>

</html>